
fastapi
uvicorn
langchain
langchain-google-genai
pydantic
python-dotenv
pandas
openpyxl
xlrd
langchain-community
langchain-core

# pip install fastapi uvicorn langchain langchain-community langchain-google-genai python-multipart dotenv
